extends base

block content 
    main.main 
        section.section.section--card-container 

            each tour in tours
                .card
                    .card_header
                        .card_picture
                            .card_picture-overlay &nbsp;
                            img.card_picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                        h3.heading-tertiary
                            span= tour.name

                    .card_details
                        h4.card_sub-heading= `${tour.difficulty} ${tour.duration} day tour`
                        p.card_text= tour.summary
                        .card_data
                            svg.card_icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= tour.startLocation.description
                        .card_data
                            svg.card_icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            span= tour.startDates[0].toLocaleString('en-us', { month: 'long', year: 'numeric'})
                        .card_data
                            svg.card_icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `${tour.locations.length} stops`
                        .card_data
                            svg.card_icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${tour.maxGroupSize} people`

                    .card_footer
                        p
                            span.card_footer-value= `$${tour.price}`
                            | 
                            span.card_footer-text per person
                        p.card_ratings
                            span.card_footer-value= tour.ratingsAverage 
                            | 
                            span.card_footer-text= `rating (${tour.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details