extends base
include _reviewCard


block append head 
    script(src='https://js.stripe.com/v3/'  type="text/javascript")

mixin overviewBox(description, text, icon, hoverText)
    .overview-box_detail(title=`${hoverText}`)
        svg.overview-box_icon
            use(xlink:href=`/img/icons.svg#icon-${icon}` unsafe-inline)
        span.overview-box_label= label
        span.overview-box_text= text

block content 
    section.section-header
        .header_hero
            .header_hero-overlay &nbsp;
            img.header_hero-img(src='/img/tours/tour-5-cover.jpg', alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span= tour.name
            .heading-box_group
                .heading-box_detail
                    svg.heading-box_icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box_text= `${tour.duration} days`
                .heading-box_detail           
                    svg.heading-box_icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box_text= `${tour.startLocation.description}`

    section.section-description
        .overview-box

            .overview-box_group

                h2.heading-secondary.ma-bt-lg Quick facts
                - const date = tour.startDates[0].toLocaleString('en-us', { month: 'long', year: 'numeric'});
                +overviewBox('Next date', date, 'calendar','Next available tour date.')
                +overviewBox('Difficulty', tour.difficulty, 'trending-up','Level of difficulty.')
                +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user','Maximum group size.')
                +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star','Average user ratings.')


            .overview-box_group
                h2.heading-secondary.ma-bt-lg Your tour guides

                each guide in tour.guides 
                    .overview-box_detail
                        figure.overview-box_img
                            img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                        - if(guide.role === 'lead-guide')
                            span.overview-box_label Lead guide
                        - if(guide.role === 'guide')
                            span.overview-box_label Tour guide
                        span.overview-box_text= guide.name


        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`

            - const paragraphs = tour.description.split('\n');
            each p in paragraphs 
                p.description_text= p


    section.section-pictures
        each img, i in tour.images 
            .picture-box
                img.picture-box_img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box_img--${i + 1}` )


    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews
        .reviews
            each review in tour.reviews
                +reviewCard(review)



    section.section-cta
        .cta
            .cta_img.cta_img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta_img.cta_img--1(src=`/img/tours/${tour.images[1]}`, alt='')
            img.cta_img.cta_img--2(src=`/img/tours/${tour.images[2]}`, alt='')
            .cta_content
                h2.heading-secondary What are you waiting for?
                p.cta_text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
                
                if user
                    .btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
                else 
                    a.btn.btn--green.span-all-rows(href='/login') Log in to book tour
